<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings >
		<!--Cadena de conexion-->
		<add name ="Proyecto" connectionString ="server=DESKTOP-3SNHOH8\MSSQLSERVER03;Database=proyecto;Integrated Security=true"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>